<form method="post" action="/posts/new">
  <p> Your blog post </p>
  <p> Post Name </p>
  <input type="text" name="name">
  <p> Post Content </p>
  <textarea name="content"></textarea>
  <br>
  <button type="submit" value="submit">Submit</button>
</form>